.activity__anchor {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.activity__circle {
    width: 12rem;
    height: 12rem;
    margin: 0 1rem 0 0;
}

.activity__circle__text {
    text-align: center;
    position: relative;
    top: -65%;
}

.activity__progress__anchor {
    font-size: 1rem;
    height: max-content;
}

.activity__progress {
    width: 30rem;
    background-color: #eeeeee;
    height: 0.4rem;
    border-radius: 1rem;
    margin: 1rem 0;
    border: none;
}



.activity__progress::-moz-progress-bar {
    background-color: #039603 !important;
}

.activity__progress--context::-moz-progress-bar {
    background-color: orange !important;
}

.activity__progress--multiple::-moz-progress-bar {
    background-color: red !important;
}

.activity__progress::-webkit-progress-bar {
    background-color: #039603 !important;
}

.activity__progress--context::-webkit-progress-bar {
    background-color: orange !important;
}

.activity__progress--multiple::-webkit-progress-bar {
    background-color: red !important;
}

.activity__progress::-o-progress-bar {
    background-color: #039603 !important;
}

.activity__progress--context::-o-progress-bar {
    background-color: orange !important;
}

.activity__progress--multiple::-o-progress-bar {
    background-color: red !important;
}

.activity__progress::-ms-progress-bar {
    background-color: #039603 !important;
}

.activity__progress--context::-ms-progress-bar {
    background-color: orange !important;
}

.activity__progress--multiple::-ms-progress-bar {
    background-color: red !important;
}

@media only screen and (max-width: 550px){
    .activity__progress__anchor{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 375px){
   .activity__anchor {
    flex-direction: column;
   }

   .activity__circle {
    margin: 1rem;
   }
}