.activity__anchor {
    display: flex;
}

.activity__circle__text {
    text-align: center;
    position: relative;
    top: -50%;
}

.activity__progress {
    width: 50rem;
    background-color: #eeeeee;
    height: 0.75rem;
    border-radius: 1rem;
}

.activity__progress::-moz-progress-bar {
    background-color: #039603 !important;
}

.activity__progress--context::-moz-progress-bar {
    background-color: orange !important;
}