.top-text__anchor {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
    padding: 2rem 0 0 0;
}

.top-text__anchor hr {
    height: 0.3rem;
    width: 50%;
    background-color: white;
    border: none;
}

.top-text__text {
    margin: 0 2rem;
}