.tracker__anchor {
    min-width: 40rem;
}

.tracker__anchor>svg {
    margin: 1rem;
}


.tracker__text {
    margin: 0 0 1rem 1rem;
}

@media only screen and (max-width: 450px) {
    .tracker__text {
        position: relative;
        left: 0;
    }

    .tracker__anchor {
        width: 40rem;
        overflow: scroll;
    }

    .tracker__anchor>* {
        min-width: 70rem;
    }

    .tracker__root .card-dark__anchor {
        overflow: hidden !important;
    }
}