.login__anchor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0;
}

.login__text {
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__text--big {
    font-size: 2rem;
    font-weight: 900;
    margin: 0.5rem 0;
}

.login__text--big--yellow {
    color: #FCDC00;
}

.login__text--medium {
    margin: 1.5rem 0;
}

.login__text ul {
    margin: 0;
}

.login__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 2rem;
}

.login__card>* {
    margin: 0.75rem 0;
}

.login__anchor input {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
}

.login__card__button {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.login__card__button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.login__card__button img {
    width: 2rem;
    margin: 0 1rem 0 0;
}

@media only screen and (max-width: 850px) {
    .login__text {
        display: none;
    }
}