.card-theory__root {
    transition: transform 1s;
    transform-style: preserve-3d;
    width: 30rem;
    position: relative;
}

.card-theory__anchor { 
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: #8a2be2;
    height: 100%;
    width: 100%;
}

.card-theory__buttons {
    display: flex;
}

.card-theory__anchor .theory__button {
    padding: 1rem 1.5rem;
}

.card-theory__anchor--flipped {
    transform: rotateY( 180deg );
}