.card-quiz__root .card__anchor {
    margin: 1rem;
}

.card-quiz__root--flex {
    display: flex;
}

.card-quiz__root--double {
    display: flex;
    justify-content: space-between;
}

.card-quiz__anchor {
    padding: 2rem;
}

.card-quiz__part--question {
    width: 40%;
}

.card-quiz__part--option {
    width: 60%;
}

.card-quiz__question {
    font-size: 1.5rem;
}

.card-quiz__image {
    max-width: 100%;
    margin: 2rem 0;
}

.card-quiz__option__anchor {
    display: flex;
    align-items: center;
    margin: 1rem 2rem;
    cursor: pointer;
    border: black 2px solid;
    border-radius: 2rem;
    padding: 0.75rem 1rem;
    font-size: 1.2rem;
}

.card-quiz__option__label {
    background-color: #2FD1BE;
    padding: 0.75rem 1.1rem;
    border-radius: 1rem;
    margin: 0 0.75rem 0 0;
}

.card-quiz__option__label--selected {
    color: white;
    background-color: #EC008C;
}

.card-quiz__option--correct {
    background-color: #6fe883;
}

.card-quiz__option--correct--user {
    border-color: #EC008C;
}

.card-quiz__option--incorrect {
    background-color: #f8797b;
}

@media only screen and (max-width: 1050px) {
    .card-quiz__root {
        flex-direction: column;
    }

    .card-quiz__part--option,
    .card-quiz__part--question {
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .card-quiz__root .card__anchor {
        margin: 1rem 1.5rem;
    }
    .card-quiz__question {
        font-size: 2.3rem;
    }

    .card-quiz__option__anchor {
        font-size: 1.7rem;
    }

    .card-quiz__option__label {
        padding: 1rem 1.5rem;
    }
} 