.card-quiz__anchor {}

.card-quiz__question {
    font-size: 2.5rem;
}

.card-quiz__option__anchor {
    display: flex;
    margin: 4rem;
    cursor: pointer;
}

.card-quiz__option__text {
    font-weight: 10;
}

.card-quiz__option__label {}

.card-quiz__option__label--selected {
    color: red;
}