.additional__anchor {}

.additional__part {
    display: flex;
    justify-content: space-between;
}

.additional__input {
    font-size: 2rem;
    margin: 1rem;
}

.additional__media {
    position: relative;
}

.additional__media--hidden {
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
}