.additional__root {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    white-space: normal;
}

.additional__anchor {
    background-color: #22262D;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin: 0 1rem;
}

.additional__anchor>form {
    margin: 1rem 0 0 0;
}

.additional__part {
    display: flex;
    justify-content: space-between;
}

.additional__input {
    font-size: 1.2rem;
    margin: 0.75rem;
    width: 30rem;
}

.additional__anchor textarea {
    height: 8rem;
}

.additional__media {
    position: relative;
}

.additional__media--hidden {
    position: absolute;
    top: -1rem;
    left: 0;
    opacity: 0;
    cursor: pointer;
    width: 30rem;
    margin: 1rem;
}

.additional__submit {
    align-self: flex-end;
    font-size: 1.2rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.additional__textarea--long {
    width: 60rem;
}

@media only screen and (max-width: 1250px) {
    .additional__media--hidden, .additional__input {
        width: 25rem;
    }
}

@media only screen and (max-width: 1050px) {
    .additional__part {
        flex-direction: column;
        align-items: center;
    }
    .additional__input, .additional__media--hidden {
        width: 45rem;
    }
}

@media only screen and (max-width: 650px) {
    .additional__input, .additional__media--hidden {
        width: 30rem;
    }
}

@media only screen and (max-width: 450px) {
    .additional__root {
        padding: 3rem 0;
        font-size: 2.3rem;
    }
    .additional__input {
        font-size: 2rem;
        margin: 1.5rem;
    }
    .additional__media--hidden, .additional__input {
        width: 36rem;
    }
    .additional__submit {
        font-size: 2.3rem;
    }
}