.main__anchor {
    background-color: #FCDC00;
    color: black;
    display: flex;
    flex-direction: column;
}

.main__text--top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 8rem;
}

.main__news {
    background: black;
    font-weight: 800;
    color: #FCDC00;
    padding: 1rem 3.5rem 1rem 1rem;
    align-self: flex-start;
    margin: 0 0 3rem 0;
    font-size: 1.2rem;
}

.main__text--big {
    font-size: 5rem;
    font-weight: 800;
    font-style: italic;
}

.main__text--top h1 {
    margin: 4rem 0 0 0;
    font-size: 2rem;
}

.main__text--top h4 {
    font-size: 1.3rem;
}

.main__text--span {
    background-color: #F8F8F8;
    padding: 0.7rem;
    margin: 0 0.5rem;
}

#main__input {
    background: #292510;
    font-weight: 500;
    color: white;
    width: 90%;
}

.main__input {
    display: flex;
    background: #292510;
    width: 50rem;
    padding: 0 0.5rem;
}

.main__input__image {
    transform: rotate(180deg);
    width: 1rem;
    margin: 1rem 0.5rem;
    font-size: 1.5rem;
}

.main__optional {
    display: flex;
    justify-content: space-around;
}

.main__optional--header {
    font-size: 2.2rem;
    border-bottom: #000000 1px solid;
    width: 35rem;
    padding: 0.5rem 1rem;
    margin: 1.2rem 0;
}

.main__optional__news__root {
    width: 35rem;
}

.main__optional--header--sub {
    color: #7D7A64;
    font-size: 1.3rem;
    font-weight: 800;
}


.main__learn__block__anchor {
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.main__learn__block__anchor a {
    background-color: #000000;
    padding: 0.7rem;
    font-size: 1.2rem;
    width: max-content;
    align-self: flex-end;
    margin: 0.5rem 0;
}

.main__learn__block {
    display: flex;
    align-items: center;
}

.main__learn__block__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5.7rem;
    white-space: normal;
}

.main__learn__block__text>div:first-child {
    font-weight: 800;
}


.main__learn__block__text>div:last-child {
    font-size: 1.2rem;
}

.main__learn__img--circled {
    border-radius: 50%;
    width: 6rem;
    margin: 1rem;
}

.main__learn__img--medium {
    width: 8rem;
}

.main__optional__news {
    padding: 1rem;
}

.main__optional__news>a {
    font-size: 2rem;
    color: #000000;
    text-decoration: underline;
}

.main__optional__news__content {
    white-space: normal;
    font-style: italic;
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
}

.main__ready__anchor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.main__ready__anchor h1 {
    font-size: 2rem;
}

.main__ready {
    width: 50rem;
    white-space: normal;
    text-align: center;
}

.main__ready__button {
    padding: 0.75rem 1.5rem;
    background-color: #000000;
    color: white;
    width: max-content;
    font-weight: 800;
    cursor: pointer;
    margin: 2rem;
    font-size: 1.3rem;
}