.card-theory__root {
    transition: transform 1s;
    transform-style: preserve-3d;
    width: 40rem;
    height: 50rem;
    font-size: 2rem;
    position: relative;
    cursor: pointer;
}

.card-theory__anchor {
    backface-visibility: hidden;
    background-color: #F1F3F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
    height: 100%;
    width: 100%;
    white-space: normal;
    border-radius: 2rem;
}

.card-theory__buttons {
    display: flex;
}

.card-theory__anchor .theory__button {
    margin: 1rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.card-theory__anchor--flipped {
    transform: rotateY(180deg);
}

.card-theory__anchor--back {
    position: absolute;
    top: 0;
}

.card-theory__text {
    text-align: center;
    animation: textAnimate 1s;
}

@keyframes textAnimate {
    from {
        font-size: 1rem;
    }

    to {
        font-size: 2rem;
    }
}