.card-theory__root {
    transition: transform 1s;
    transform-style: preserve-3d;
    width: 40%;
    height: 40rem;
    max-width: 40rem;
    margin: 3rem 0;
    font-size: 2rem;
    position: relative;
    cursor: pointer;
}

.card-theory__anchor {
    backface-visibility: hidden;
    background-color: #F1F3F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
    height: 100%;
    width: 100%;
    white-space: normal;
    border-radius: 2rem;
}

.card-theory__button__anchor {
    display: none;
    backface-visibility: hidden;
}

.card-theory__button {
    width: 12rem !important;
}

.card-theory__button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.card-theory__anchor .theory__button {
    margin: 1rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.card-theory__anchor--flipped {
    transform: rotateY(180deg);
}

.card-theory__anchor--back {
    position: absolute;
    top: 0;
}

.card-theory__text {
    text-align: center;
    animation: textAnimate 1s;
    margin: 0 1rem;
}

@media only screen and (max-width: 850px) {
    .card-theory__button__anchor {
        display: flex;
    }

    .card-theory__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 70%;
    }

    .card-theory__root {
        width: auto;
        height: auto;
    }
}