.profile__anchor {
    display: flex;
    font-size: 1.4rem;

}

.profile__sidebar {
    background-color: #22262D;
    padding: 4rem 2rem;
    height: 41rem;
}

.profile__photo {
    border-radius: 50%;
    width: 8rem;
}

.profile__content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.profile__content>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile__content>div>div {
    margin: 2rem 0;
}

.tracker__root>div {
    overflow: scroll;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 850px) {
    .profile__anchor {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .profile__sidebar {
        border-radius: 1.5rem;
        height: max-content;
    }

    .profile__content>div,
    .profile__sidebar {
        width: 80%;
    }

    .profile__sidebar {
        margin: 0 0 2rem 0;
    }
}

@media only screen and (max-width: 450px) {
    .profile__anchor {
        font-size: 2.5rem;
    }

    .profile__sidebar {
        padding: 4rem 2rem;
    }

    .profile__photo {
        width: 12rem;
    }
    .profile__content>div,
    .profile__sidebar {
        width: 90%;
    }
}