.result__root .top-text__anchor hr:first-child {
    width: 10%;
}

.result__root .top-text__anchor hr:last-child {
    width: 90%;
}

.result__root .top-text__anchor {
    font-size: 2rem;
    margin: 1rem 0;
}

.result__anchor {
    display: flex;
    padding: 2rem 3rem;

    justify-content: space-around;
}

.result__anchor>div {
    width: 30rem;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1250px) {
    .result__anchor>div {
        width: 25rem;
    }

    .result-navigation__block {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1050px) {

    .result__anchor>div:first-child,
    .result__anchor>div:nth-child(2) {
        width: 20rem;
    }

    .result-navigation__block {
        font-size: 1.4rem;
    }

    .result-score__text {
        font-size: 1.7rem;
    }

    .result-topic__root {
        font-size: 1.7rem;
    }

    .result-topic__block {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 950px) {
    .result__anchor>div {
        width: 22rem;
    }

    .result-navigation__block {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 900px) {
    .result__anchor {
        flex-direction: column;
        align-items: center;
    }
    .result__anchor>div {
        width: 30rem !important;
        margin: 1rem 0;
    }
    .result-navigation__anchor {
        grid-template-columns: auto auto auto auto auto auto auto;
    }
}