.header__anchor {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    font-size: 1rem;
}

.header__part:first-child {
    display: flex;
    align-items: center;
}
.header__part > div {
    display: flex;
    align-items: center;
}

.header__part > div > * {
    margin: 0 1em;
}

.header__button {
    font-size: 1.2em;
    font-weight: 550;
    cursor: pointer;
}

.header__button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.header__button--pink {
    font-size: 1em;
    background-color: #EC008C;
    border-radius: 0.3rem;
    padding: 1em 2rem;
    width: max-content;
}

@media screen and (max-width: 550px) {
    .header__anchor {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 450px) {
    .header__anchor {
        font-size: 0.6rem;
    }
}