.footer__anchor .header__anchor {
    padding: 2rem;
}

.footer__anchor .logo__img {
    width: 6rem;
}

.footer__anchor .logo__text {
    font-size: 2rem;
}

.footer__logo {
    width: 5rem;
    cursor: pointer;
}

.footer__logo:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}