.footer__anchor .header__anchor {
    padding: 1rem;
}

.footer__anchor .logo__img {
    width: 4rem;
}

.footer__anchor .logo__text {
    font-size: 1.5rem;
}

.footer__anchor .header__button {
    font-size: 1.3rem;
}

.footer__logo {
    width: 3rem;
    cursor: pointer;
}

.footer__logo:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}