.header-home__left {
    margin: 0 0 0 3em;
}

.header-home__portrait {
    width: 6em;
    border-radius: 1em;
}

.header-home__name {
    font-size: 3em;
}

.header-home__profile {
    border-radius: 1em;
    padding: 1em 0;
    cursor: pointer;
    position: relative;
}

.header-home__profile:hover {
    background-color: #22262d;
}

.profile-drop {
    position: absolute;
    top: 10em;
    background-color: #22262D;
    border-radius: 1em;
    z-index: 1;
    padding: 1em 0;
    font-size: 2.5em;
    white-space: normal;
    margin: 0 !important;
    animation: rotateMenu 1000ms ease-in-out forwards;
    transform-origin: top center;
    overflow: hidden;
    height: 20em;
}

.profile-drop li {
    margin: 0 2em 0 0;
}

.profile-drop ul {
    margin: 1em 0;
}

.profile-drop ul:hover {
    background-color: black;
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }

    70% {
        transform: rotateX(20deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}