.header-home__portrait {
    width: 3.5rem;
    border-radius: 1rem;
}

.header-home__name {
    font-size: 1.75rem;
}

.header-home__profile {
    border-radius: 1rem;
    padding: 0.75rem 0;
    cursor: pointer;
    position: relative;
}

.header-home__profile:hover {
    background-color: #22262d;
}

.profile-drop {
    position: absolute;
    top: 6rem;
    right: 0;
    background-color: #22262D;
    border-radius: 1rem;
    z-index: 1;
    padding: 0.75rem 0;
    font-size: 1.5rem;
    white-space: normal;
    margin: 0 !important;
    animation: rotateMenu 1000ms ease-in-out forwards;
    transform-origin: top center;
    overflow: hidden;
}

.profile-drop li {
    margin: 0 1rem 0 0;
    padding: 1rem 0;
}

.profile-drop ul {
    margin: 0;
    padding-left: 3rem;
}

.profile-drop hr {
    border: none;
    height: 0.2rem;
    margin: 0;
    background-color: white;
}

.profile-drop ul:hover {
    background-color: black;
}



@media only screen and (max-width: 850px) {
    .header-home__left {
        display: none !important;
    }
}