.showCl-btnCl {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    
}

.equalCl {
    grid-column-start: 4;
    grid-column-end: 6;
}

.btnCl {
    width: 2.5em;
    height: 2.5em;
    margin: 0.25em auto;
    font-size: 2.4em;
    font-weight: 500;
    cursor: pointer;
    border-radius: 50%;
    background: none;
    border: 0px;
}

.btnCl:last-child {
    font-weight: medium;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    padding-bottom: 0.2em;
    border-radius: 0.26em;
    color: white;
    background-color: #6dd5ed;
}

.btnCl:hover {
    background-color: #6dd5ed;
    color: white;
    transition: background-color 0.3s ease;
}

.btnCl:active {
    background-color: #48b1bf;
    color: white;
    transition: background-color 0.3s ease;
}

.clrCl {
    color: #d66d75;
}

.expCl {
    color: #06beb6;
}