@import url('https://fonts.googleapis.com/css2?family=Roboto');

html {
    font-size: 12px;
}

body {
    cursor: default;
    user-select: none;
    margin: 0;
    color: white;
    background: #0d0f12;
    font-family: 'Roboto';
    white-space: nowrap;
    font-size: 1.5rem;
    min-width: 320px;
}

/* body * {
    box-sizing: border-box;
} */

a {
    text-decoration: none;
    color: white;
}

input,
textarea {
    border: none;
    outline: none;
    padding: 0.75rem;
    border-radius: 0.75rem;
    display: block;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Roboto';
}

input:focus,
textarea:focus {
    outline: 0.2em solid #EC008C;
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 650px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (max-width: 550px) {
    html {
        font-size: 6px;
    }
}