@import url('https://fonts.googleapis.com/css2?family=Roboto');

html {
    font-size: 62.35%;
}
body {
    cursor: default;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto';
    white-space: nowrap;
    background: #0d0f12;
}