@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500');

html {
    font-size: 62.35%;
    /* font-size: 0.5vw; */
}

body {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    margin: 0;
    box-sizing: border-box;
    color: white;
    background: #0d0f12;
    font-family: 'Roboto';
    white-space: nowrap;
}

img {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

input {
    border: none;
    outline: none;
    padding: 0.75rem;
    border-radius: 0.75rem;
}