.header-main__flag {
    width: 6rem;
    height: 3.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

@media only screen and (max-width: 550px) {
    .header-main__resources {
        display: none;
    }
}